<ion-header class="ion-no-border">
  <ion-toolbar color="ligth" class="ion-no-margin ion-no-padding ion-no-border">
    <div class="flex items-center justify-between px-3">
      <ion-text class="H2-22-700 self-start my-text-header">
        {{ "recovery_pass.label.title"|translate }}
      </ion-text>
      <img
        tappable="true"
        class="mt-1"
        (click)="goBack()"
        src="assets/images/SoundCollect/Iconos/close.svg"
        alt="back"
        width="24"
      />
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="flex flex-col px-3">
    <form
      [formGroup]="resetFormGroup"
      (ngSubmit)="sendEmail()"
      id="resetFormGroup"
      class="mt-5 flex flex-col justify-between p-3"
    >
      <div>
        <div class="mb-8">
          <label class="H-16-400 my-text-header">
            {{ "recovery_pass.label.hint"|translate }}
          </label>
        </div>
        <label class="H-16-400 my-text-header"
          >{{ "recovery_pass.label.email"|translate }}</label
        >
        <input
          class="input ps-3"
          formControlName="email"
          type="email"
          name="email"
          placeholder="user@email.com"
        />

        <div
          class="validation-msg-error"
          *ngIf="_email?.invalid && (_email?.dirty || _email?.touched)"
        >
          <div *ngIf="_email?.errors.required">
            {{'login.label.email_required'|translate}}
          </div>
          <div *ngIf="_email?.errors.email">
            {{'login.label.email_invalid'|translate}}
          </div>
        </div>
      </div>
    </form>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <div class="ion-no-border px-3 pt-2">
    <div class="flex w-full flex-col justify-evenly gap-3">
      <button class="my-btn-login mx-auto" form="resetFormGroup" type="submit">
        <ion-text class="ion-text-nowrap">
          {{ "recovery_pass.btn.btn-recovery"|translate }}
        </ion-text>
      </button>
    </div>
  </div>
</ion-footer>
