<ion-header class="ion-no-border">
  <ion-toolbar color="ligth" class="ion-no-margin ion-no-padding ion-no-border bg-white">
    <div class="flex w-full  justify-start items-center px-3">
      <img tappable="true" class="" [routerLink]="['/tabs/tab3']" src="assets/images/SoundCollect/Iconos/back.svg" alt="back" width="24">
      <ion-text class="ms-14 H2-22-700 self-start my-text-header">
        Cambio de contraseña
      </ion-text>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <div class="flex w-full flex-col justify-between items-center" style="height:100%">

   <form  [formGroup]="newFormGroup" class="w-full mt-16 flex flex-col justify-between h-full">
      <div>
        <div class="relative mb-5">
          <input class="input pe-5 ps-3" formControlName="lpassword"
                 placeholder="Contraseña actualr" [type]="myType[0]" name="lpassword"/>
          <img (click)="changeImage(0)" class="absolute" src="assets/images/SoundCollect/Iconos/{{myEye[0]}}.svg" alt="eye" style="right: 13px;top: 0;bottom: 0;margin: auto">

            <div class="validation-msg-error" *ngIf="lpassword?.invalid && (lpassword?.dirty || lpassword?.touched)">
                <div *ngIf="lpassword?.errors.required">
                    {{'change_pass.error.password_required'|translate}}
                </div>
            </div>
        </div>

          <div class="relative mb-5">
              <input class="input pe-5 ps-3" formControlName="password"
                     placeholder="Nueva contraseña" [type]="myType[1]" name="password"/>
              <img (click)="changeImage(1)" class="absolute" src="assets/images/SoundCollect/Iconos/{{myEye[1]}}.svg" alt="eye" style="right: 13px;top: 0;bottom: 0;margin: auto">

              <div class="validation-msg-error" *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                  <div *ngIf="password?.errors.required">
                      {{'change_pass.error.password_required'|translate}}
                  </div>
              </div>
          </div>

        <div class="relative mb-5">
          <input class="input pe-5 ps-3" formControlName="cpassword"
                 placeholder="Repetir nueva contraseña*" [type]="myType[2]" name="cpassword"/>
          <img (click)="changeImage(2)" class="absolute" src="assets/images/SoundCollect/Iconos/{{myEye[2]}}.svg" alt="eye" style="right: 13px;top: 0;bottom: 0;margin: auto">

            <div class="validation-msg-error" *ngIf="cpassword?.invalid && (cpassword?.dirty || cpassword?.touched)">
                <div *ngIf="cpassword?.errors.confirmPassword">
                    {{'change_pass.error.password_no_match'|translate}}
                </div>
            </div>
        </div>
      </div>
    </form>
      <br>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <div class="ion-no-border px-3 pt-2">
    <div class="flex w-full flex-col justify-evenly gap-3">
      <button class="my-btn-login mx-auto">
        <ion-text class="ion-text-nowrap">
          Guardar
        </ion-text>
      </button>
    </div>
  </div>
</ion-footer>

