<ion-tabs style="position: relative;overflow: visible">
  <ion-tab-bar slot="bottom" >
    <ion-tab-button tab="tab1" >
      <ion-icon aria-hidden="true" src="../../../assets/images/SoundCollect/Iconos/home.svg"></ion-icon>
      <ion-label class="H6-14-400-SpaceGrotesk">Home</ion-label>
    </ion-tab-button>
     <ion-tab-button class="" tab="tab2">
        <ion-icon aria-hidden="true" src="../../../assets/images/SoundCollect/Iconos/sound.svg" style="width: 29px;height: 26px"></ion-icon>
        <ion-label class="H6-14-400-SpaceGrotesk">Mis sonidos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab3">
      <ion-icon aria-hidden="true" src="../../../assets/images/SoundCollect/Iconos/profile.svg"></ion-icon>
      <ion-label class="H6-14-400-SpaceGrotesk">Perfil</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="goto()">
      <ion-label class="H6-14-400-SpaceGrotesk " style="margin-top: 34px;">Añadir</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  <img tappable="true" (click)="goto()" class="absolute" src="assets/images/SoundCollect/Iconos/add.svg" style="bottom: 49px;z-index: 10; right: 23px;}">
</ion-tabs>
