<ion-header class="ion-no-border">
  <ion-toolbar color="ligth" class="ion-no-margin ion-no-padding ion-no-border bg-white">
    <div class="flex items-center justify-between px-3">
      <ion-text class="H2-22-700 self-start ms-16 my-text-header">
        {{'observations.label.detail'|translate}}
      </ion-text>
      <img
        tappable="true"
        class="mt-1"
        (click)="goBack()"
        ngSrc="assets/images/SoundCollect/Iconos/close.svg"
        alt="back"
        width="24"
        height="24"/>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <div class="flex p-3 w-full justify-between items-center">
    <label class="H2-22-700 my-text-header">Automóviles</label>
  </div> -->
  <div class="p-4 flex flex-col">
    <div class="w-full h-full py-4" *ngIf="observation?.attributes?.images?.length > 0">
      <swiper-container
        [slidesPerView]="1"
        [loop]="false"
        [pagination]="true"
        [allowTouchMove]="true">
        <swiper-slide *ngFor="let image of observation?.attributes?.images">
          <div
            class="frame pb-6"
            style="
              height: 18.9vh;
              border-radius: 20px;
              background-image: url({{image}});
              background-size: cover;
              background-position: center;
            "
          ></div>
        </swiper-slide>
      </swiper-container>
    </div>
    <label class="H-20-700 my-text-header">
      {{ "sounds.label.info_general" | translate }}
    </label>
    <div class="flex w-full mt-3 justify-between items-center" *ngIf="observation?.relationships?.types.length > 0">
      <div class="flex flex-col">
        <label class="H-16-400 my-text-header flex items-center gap-3">
          {{ "sounds.label.sound_type" | translate }}
        </label>
        <label *ngFor="let item of observation?.relationships?.types" class="H-16-400 my-text-header flex items-center gap-3">
          <img ngSrc="assets/images/SoundCollect/Iconos/ellipse.svg" alt="" height="16" width="16"/>{{item?.name}}
        </label>
      </div>
    </div>
    <div class="w-100">
      <div class="flex flex-col mt-3">
        <label class="H-16-400 my-text-header flex items-center gap-3">
          {{ "sounds.label.fecha" | translate }}
        </label>
        <label class="H-16-400 my-text-header flex items-center gap-3">
          {{observation?.attributes?.created_at | date : "dd-MM-yyyy HH:mm" }}h
        </label>
      </div>
    </div>
    <label class="H-20-700 mt-5 my-text-header">
      {{'observations.weather.title'|translate}}
    </label>
    <div class="flex w-full mt-3 justify-between items-stretch">
      <div class="flex flex-col justify-center text-center align-middle w-1/4 py-5 me-1" style="background-color: #FFF8F2; border-radius: 20px">
        <label class="H6-14-400-SpaceGrotesk my-text-header">
          {{'observations.weather.wind'|translate}}
        </label>
        <div class="flex justify-center">
          <img ngSrc="assets/images/SoundCollect/Iconos/air.svg" height="32" width="32" alt=""/>
        </div>
        <label class="H6-14-700-SpaceGrotesk my-text-header text-center">
          {{ observation?.attributes?.wind_speed }}km/h
        </label>
      </div>
      <div class="flex flex-col justify-center text-center align-middle w-1/4 py-5 me-1" style="background-color: #FFF8F2; border-radius: 20px">
        <label class="H6-14-400-SpaceGrotesk my-text-header">
          {{'observations.weather.humidity'|translate}}
        </label>
        <div class="flex justify-center">
          <img ngSrc="assets/images/SoundCollect/Iconos/humidity_mid.svg" height="32" width="32" alt=""/>
        </div>
        <label class="H6-14-700-SpaceGrotesk my-text-header text-center" >
          {{ observation?.attributes?.humidity }}%
        </label>
      </div>
      <div class="flex flex-col justify-center text-center align-middle w-1/4 py-5 me-1" style="background-color: #FFF8F2; border-radius: 20px">
        <label class="H6-14-400-SpaceGrotesk my-text-header">
          {{'observations.weather.temperature'|translate}}
        </label>
        <div class="flex justify-center">
          <img ngSrc="assets/images/SoundCollect/Iconos/temp.svg" height="32" width="32" alt=""/>
        </div>
        <label class="H6-14-700-SpaceGrotesk my-text-header text-center" >
          {{ observation?.attributes?.temperature }}c</label>
      </div>
      <div class="flex flex-col justify-center text-center align-middle w-1/4 py-5" style="background-color: #FFF8F2; border-radius: 20px">
        <label class="H6-14-400-SpaceGrotesk my-text-header">
          {{'observations.weather.pressure'|translate}}</label>
        <div class="flex justify-center">
          <img ngSrc="assets/images/SoundCollect/Iconos/press.svg" height="32" width="32" alt=""/>
        </div>
        <label class="H6-14-700-SpaceGrotesk my-text-header text-center" >
          {{ observation?.attributes?.pressure }} hPa</label>
      </div>
    </div>
    <label class="H-20-700 mt-5 my-text-header">
      {{ "sounds.label.registered_audio" | translate }}
    </label>
    <!-- <label class="H-16-400 my-text-header"
      >Lorem ipsum dolor sit amet consectetur. Urna cras at elit lectus
      consectetur convallis aliquet.</label > -->
    <!-- <label class="H-16-400 my-text-header">Parametros</label> -->
    <div class="flex w-full justify-between items-center">
      <div class="H-16-400 my-text-header flex flex-col">
        <div class="w-full flex m-2">
          <img ngSrc="assets/images/SoundCollect/Iconos/ellipse.svg" height="16" width="16" alt="" class="me-1"/>
          <strong>{{'sounds.collect.process.L10' |translate}}</strong>: {{observation?.attributes?.L10 | number:'1.0-0'}}
        </div>
        <div class="w-full flex m-2">
          <img ngSrc="assets/images/SoundCollect/Iconos/ellipse.svg" height="16" width="16" alt="" class="me-1"/>
          <strong>{{'sounds.collect.process.L90' |translate}}</strong>: {{observation?.attributes?.L90 | number:'1.0-0'}}
        </div>
        <div class="w-full flex m-2">
          <img ngSrc="assets/images/SoundCollect/Iconos/ellipse.svg" height="16" width="16" alt="" class="me-1"/>
          <strong>{{'sounds.collect.process.Leq' |translate}}</strong>: {{observation?.attributes?.Leq| number:'1.0-0'}}
        </div>
        <div class="w-full flex m-2">
          <img ngSrc="assets/images/SoundCollect/Iconos/ellipse.svg" height="16" width="16" alt="" class="me-1"/>
          <strong>{{'sounds.collect.process.LAmax' |translate}}</strong>: {{observation?.attributes?.LAmax| number:'1.0-0'}}
        </div>
        <div class="w-full flex m-2">
          <img ngSrc="assets/images/SoundCollect/Iconos/ellipse.svg" height="16" width="16" alt="" class="me-1"/>
          <strong>{{'sounds.collect.process.LAmin' |translate}}</strong>: {{observation?.attributes?.LAmin| number:'1.0-0'}}
        </div>
        <div class="w-full flex m-2">
          <img ngSrc="assets/images/SoundCollect/Iconos/ellipse.svg" height="16" width="16" alt="" class="me-1"/>
          <strong>{{'sounds.collect.process.sharpness_S' |translate}}</strong>: {{observation?.attributes?.sharpness_S| number:'1.0-0'}}
        </div>
        <div class="w-full flex m-2">
          <img ngSrc="assets/images/SoundCollect/Iconos/ellipse.svg" height="16" width="16" alt="" class="me-1"/>
          <strong>{{'sounds.collect.process.loudness_N' |translate}}</strong>: {{observation?.attributes?.loudness_N| number:'1.0-0'}}
        </div>
        <div class="w-full flex m-2">
          <img ngSrc="assets/images/SoundCollect/Iconos/ellipse.svg" height="16" width="16" alt="" class="me-1"/>
          <strong>{{'sounds.collect.process.roughtness_R' |translate}}</strong>: {{observation?.attributes?.roughtness_R| number:'1.0-0'}}
        </div>
        <div class="w-full flex m-2">
          <img ngSrc="assets/images/SoundCollect/Iconos/ellipse.svg" height="16" width="16" alt="" class="me-1"/>
          <strong>{{'sounds.collect.process.fluctuation_strength_F' |translate}}</strong>: {{observation?.attributes?.fluctuation_strength_F| number:'1.0-0'}}
        </div>
        <div class="w-100 flex justify-center flex-col" *ngIf="showGraph">
          <div class="H-16-400 my-text-header flex items-center">
            <div class="w-full flex m-2">
              <img ngSrc="assets/images/SoundCollect/Iconos/ellipse.svg" height="16" width="16" alt="" class="me-1"/>
              <strong>{{'sounds.collect.process.LAeqT'|translate}}</strong>:
            </div>
          </div>
          <div class="w-80">
            <app-graph [dataset]="observation?.attributes?.LAeqT"></app-graph>
          </div>
        </div>
      </div>
    </div>
    <label
      *ngIf="observation?.attributes?.comments"
      class="H-20-700 mt-5 my-text-header"
      >{{ "sounds.label.comments" | translate }}</label
    >
    <label class="H-16-400 my-text-header"
      >{{ observation?.attributes?.comments }}</label
    >
<!--    <button class="my-btn-custome mt-5" style="background-color: #d02424">-->
<!--      <img src="assets/images/SoundCollect/Iconos/delete.svg" />{{-->
<!--      "sounds.label.remove_sound" | translate }}-->
<!--    </button>-->
    <br />
    <br />
  </div>
</ion-content>
