<ion-header class="ion-no-border">
  <ion-toolbar color="ligth" class="ion-no-margin ion-no-padding ion-no-border bg-white">
    <div class="flex items-center justify-between px-3">
      <ion-text class="H2-22-700 self-start my-text-header">
        Crear cuenta
      </ion-text>
      <img tappable="true" class="mt-1" (click)="goBack()" ngSrc="assets/images/SoundCollect/Iconos/close.svg" alt="back" width="24" height="24">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="flex items-center flex-col justify-between w-full h-full">
    <div class="d-flex w-100  flex-column justify-content-between h-100">
      <div style="width: 96vw">
        <div class="ion-padding-horizontal mt-10">
        <ion-text class="H-20-700 my-text-dark">Datos requeridos*</ion-text>
          <div class="relative mb-5">
            <input class="input pe-5 ps-3" placeholder="Nombre*" type="text" name=""/>
          </div>
          <div class="relative mb-5">
            <input class="input pe-5 ps-3" placeholder="Email*" type="text" name=""/>
          </div>
          <div class="relative mb-5">
            <input class="input pe-5 ps-3" placeholder="Nueva contraseña" [type]="myType[0]" name="password"/>
            <img (click)="changeImage(0)" class="absolute" src="assets/images/SoundCollect/Iconos/{{myEye[0]}}.svg"
                 alt="eye" style="right: 13px;top: 0;bottom: 0;margin: auto">
          </div>
      <!--    <div class="validation-msg-error"
               *ngIf="password?.invalid && (password?.dirty || password?.touched)">
            <div *ngIf="password?.errors.required">
              {{'change_pass.error.password_required'|translate}}
            </div>
          </div>-->

          <label class="H6-14-400-SpaceGrotesk my-text-header">Mínimo 6 caracters</label>
          <div class="relative mb-5">
            <input class="input pe-5 ps-3" placeholder="Repetir contraseña" [type]="myType[1]" name="cpassword"/>
            <img (click)="changeImage(1)" class="absolute" src="assets/images/SoundCollect/Iconos/{{myEye[1]}}.svg" alt="eye" style="right: 13px;top: 0;bottom: 0;margin: auto">
          </div>
        <!--  <div class="validation-msg-error"
               *ngIf="cpassword?.invalid && (cpassword?.dirty || cpassword?.touched)">
            <div *ngIf="cpassword?.errors.confirmPassword">
              {{'change_pass.error.password_no_match'|translate}}
            </div>
          </div>-->
          <ion-text class="H-20-700 my-text-dark">Datos requeridos*</ion-text>
          <div class="relative mb-5">
            <select class="input pe-5 ps-3" name="my-dropdown" >
              <option disabled selected>Año de nacimiento</option>
              <option *ngFor="let number of myNumbers" [value]="number">{{number}}</option>
            </select>

          </div>
          <div class="relative mb-5">
            <input list="my-list" class="input pe-5 ps-3" placeholder="Género" type="text" name=""/>
          </div>
          <datalist id="my-list">
            <option value="Hombre">Hombre</option>
            <option value="Mujer">Mujer</option>
            <option value="Otro">Otro</option>
          </datalist>
          <label class="H6-14-400-SpaceGrotesk my-text-header mt-4 block">Términos y condiciones*</label>
          <label class="H6-14-400-SpaceGrotesk my-text-header mt-4">Protección de datos</label>
        </div>
        <!--        <br>-->
        <!--        <div class="p-3 mt-64  text-center">-->
        <!--          <button [routerLink]="['/password-new']"  #field5 class="my-btn-login mx-auto" type="button">-->
        <!--            <ion-text>{{ "recovery_pass.btn.btn-verify"|translate }}</ion-text>-->
        <!--          </button>-->
        <!--        </div>-->
        <br><br><br><br><br>
      </div>
    </div>
  </div>

</ion-content>
<ion-footer  class="ion-no-border">
  <div class="p-3 flex flex-col w-100">
    <button [routerLink]="['/greets']" class="my-btn-login">
      <ion-text>  Crear cuenta</ion-text>
    </button>
  </div>
</ion-footer>
