<ion-header class="ion-no-border">
    <ion-toolbar class="my-bg ion-no-margin ion-no-padding">
        <div class="m-2">
            <div class="flex flex-col items-start justify-between  pb-3"
                 style="width: 100%;min-height: 135px;background: var(--ion-color-primary);border-radius: 10px;">
                <img class="self-start m-3" (click)="goTo('login')" src="assets/images/general/back.svg" alt="back"
                     width="31">
                <ion-text class="H2-22-700 self-start mx-3 leading-9 mb-2 my-text-header-secondary">
                    {{ "recovery_pass.label.title"|translate }}
                </ion-text>
                <ion-text class="H6-14-400-SpaceGrotesk mx-3 text-start my-text-yellow">
                    {{ "recovery_pass.label.sub_title2"|translate }}
                </ion-text>
            </div>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <div class="d-flex w-100  flex-column justify-content-between h-100">
        <div class="d-flex flex-column p-3">
            <ion-text class="H6-14-400SpaceGrotesk my-text-dark">{{ "recovery_pass.label.sub_title3"|translate }}</ion-text>
        </div>
        <form>
            <div class="mx-auto gap-5 mb-4 flex justify-between w-72">
                <ion-input class="text-center input ion-no-margin ion-no-padding" #field1 clearOnEdit="true"
                           enterkeyhint="next" [autofocus]="field1"
                           (ionInput)="gotoNextField(field2)"
                           style="background: #F3F6F5;width: 66px;height: 55px"></ion-input>
                <ion-input class="text-center input ion-no-margin ion-no-padding" #field2 clearOnEdit="true"
                           enterkeyhint="next"
                           (ionInput)="gotoNextField(field3)"
                           style="background: #F3F6F5;width: 66px;height: 55px"></ion-input>
                <ion-input class="text-center input ion-no-margin ion-no-padding" #field3 clearOnEdit="true"
                           enterkeyhint="next"
                           (ionInput)="gotoNextField(field4)"
                           style="background: #F3F6F5;width: 66px;height: 55px"></ion-input>
                <ion-input class="text-center input ion-no-margin ion-no-padding" #field4 clearOnEdit="true"
                           enterkeyhint="next"
                           (ionInput)="gotoNextField(field5)"
                           style="background: #F3F6F5;width: 66px;height: 55px"></ion-input>
            </div>
            <br>
            <div class="p-3 mt-64  text-center">
                <button [routerLink]="['/password-new']" #field5 class="my-btn-login mx-auto" type="button">
                    <ion-text>{{ "recovery_pass.btn.btn-verify"|translate }}</ion-text>
                </button>
            </div>
        </form>
    </div>
</ion-content>
