.my-bg-home {
  background-image: url("../../../assets/images/SoundCollect/Ilustraciones/home-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

capacitor-google-map {
  display: inline-block;
  width: 100%;
  height: 100%;
}

ion-content {
  --background: transparent !important;
}

body {
  background: transparent !important;
}

ion-modal#modal-badge {
  --width: 90%;
  --height: 406px;
  --border-radius: 29px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  background:  #FFF;
}

ion-modal#modal-badge::part(backdrop) {
  background: rgba(21, 76, 81, 0.40);
  opacity: 1;
}

ion-modal#modal-badge ion-toolbar {
  --background: white;
  --color: black;
}

ion-list {
  --background: white !important;
  ion-item {
    --background: white !important;
    --ion-item-border-color: #6b7280;
    --border-color: #6b7280;
  }
}
#options-popover{
  --width: 96vw !important;
  --offset-x: 4px; 
  --offset-y: 3px;
}
