<ion-content [fullscreen]="true">
  <div style="height: 100dvh; position: relative">
    <capacitor-google-map #map></capacitor-google-map>
  </div>
  <div
    class="w-full"
    style="position: absolute;"
    [ngStyle]="platform.is('ios') ? {'top': 'calc(30px - env(safe-area-inset-top))'} : {'top': 'env(safe-area-inset-top)'}"
  >
    <div
      class="flex flex-col px-2 w-full items-center justify-center"
      style="max-width: calc(100% - 47px)"
    >
      <div class="relative w-full margin-top-safe-area">
        <input
          [(ngModel)]="searchText"
          (ngModelChange)="searchLocations()"
          class="w-full"
          [ngClass]="predictions.length === 0 ? 'inputSearchWithoutList' : 'inputSearchWithList'"
          placeholder="{{ 'home.search' | translate }}"
          type="search"
          style="background: #fff; padding: 9px 28px 9px 16px"
          [ngStyle]="predictions.length === 0 ? {'border-radius': '24px'} : {'border-radius': '24px 24px 0 0'}"
        />
        <ion-icon
          class="absolute"
          *ngIf="searchText.length === 0"
          name="search-outline"
          style="top: 0; bottom: 0; margin: auto; right: 13px"
        ></ion-icon>
        <ion-icon
          (click)="clearSearch()"
          class="absolute"
          *ngIf="searchText.length > 0"
          name="close-outline"
          style="top: 0; bottom: 0; margin: auto; right: 13px"
        ></ion-icon>
      </div>
      <ion-list
        [hidden]="predictions.length === 0"
        class="w-full listSearch"
        style="border-radius: 0 0 24px 24px"
      >
        <ion-item
          *ngFor="let item of predictions"
          tappable
          (click)="selectPlace(item)"
        >
          {{ item.description }}
        </ion-item>
      </ion-list>
    </div>
    <div
      id="filter-options"
      class="absolute flex flex-row justify-center items-center"
      style="
        width: 44px;
        right: 0.5rem;
        top: calc(env(safe-area-inset-top) + 30px) !important;
        height: 44px;
        background: white;
        border-radius: 24px;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.75);
      "
    >
      <ion-icon size="large" name="options"></ion-icon>
    </div>
    <ion-popover
      #optionsPopover
      id="options-popover"
      trigger="filter-options"
      triggerAction="click"
      style="--width: 96vw"
      (didDismiss)="optionsPopoverDismiss()"
    >
      <ng-template>
        <ion-content class="ion-padding">
          <div>
            <ion-label>{{ 'home.map' | translate }}</ion-label>
            <ion-segment value="Normal" mode="ios" [(ngModel)]="mapType">
              <ion-segment-button value="Normal">
                <ion-label>{{ 'home.normal' | translate }}</ion-label>
              </ion-segment-button>
              <ion-segment-button value="Hybrid">
                <ion-label>{{ 'home.hybrid' | translate }}</ion-label>
              </ion-segment-button>
              <ion-segment-button value="Satellite">
                <ion-label>{{ 'home.satellite' | translate }}</ion-label>
              </ion-segment-button>
              <ion-segment-button value="Terrain">
                <ion-label>{{ 'home.terrain' | translate }}</ion-label>
              </ion-segment-button>
            </ion-segment>
          </div>
          <div class="mt-3">
            <ion-label>{{ 'home.sounds' | translate }}</ion-label>
            <ion-segment value="all" mode="ios" [(ngModel)]="observationType">
              <ion-segment-button value="all">
                <ion-label>{{ 'home.all' | translate }}</ion-label>
              </ion-segment-button>
              <ion-segment-button value="mine">
                <ion-label>{{ 'home.mine' | translate }}</ion-label>
              </ion-segment-button>
            </ion-segment>
          </div>
          <div class="mt-3 flex flex-row">
            <button
              class="my-btn-login my-btn-close-session m-1"
              style="
                height: 45px;
                padding: 4px;
                background: #fff;
                color: var(--ion-color-primary);
              "
              (click)="optionsPopover.dismiss()"
            >
              {{ 'about_me.buttons.btn_cancel' | translate }}
            </button>
            <button
              class="my-btn-login text-da my-btn-close-session m-1"
              style="height: 45px; padding: 4px"
              (click)="applyFilter();optionsPopover.dismiss()"
            >
              {{ 'about_me.buttons.btn_apply' | translate }}
            </button>
          </div>
        </ion-content>
      </ng-template>
    </ion-popover>
    <div class="p-2 flex flex-col w-full h-full"></div>
    <div
      class="mx-3"
      style="
        padding: 0px 10px;
        border-radius: 24px;
        display: flex;
        justify-content: space-between;
        border-radius: 24px;
        background: -webkit-linear-gradient(
          90deg,
          #d9f2d0,
          #92d050,
          #4ea72e,
          #ffff00,
          #ffc000,
          #f2aa84,
          #ff0000,
          #c00000,
          #7030a0,
          #0f9ed5,
          #215f9a
        ); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(
          90deg,
          #d9f2d0,
          #92d050,
          #4ea72e,
          #ffff00,
          #ffc000,
          #f2aa84,
          #ff0000,
          #c00000,
          #7030a0,
          #0f9ed5,
          #215f9a
        ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      "
    >
      <ion-text class="H6-14-700-SpaceGrotesk">35 dBA</ion-text>
      <ion-text class="H6-14-700-SpaceGrotesk">85 dBA</ion-text>
    </div>
  </div>
  <ion-modal
    id="modal-badge"
    #modal
    [isOpen]="isOpenBadgeModal && level>0"
    (didDismiss)="isOpenBadgeModal = false"
  >
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-title class="H2-22-700" slot="start"
            >{{'achievements_modal.new_achievements'|translate}}</ion-title
          >
          <ion-buttons slot="end">
            <ion-button color="light" (click)="modal.dismiss()"
              ><img src="assets/images/sonsCAT/close.svg"
            /></ion-button>
          </ion-buttons>
        </ion-toolbar>
        <div
          class="flex flex-col justify-center gap-4 items-center"
          style="padding: 38px"
        >
          <img src="assets/images/sonsCAT/lvl{{level}}.svg" width="146" />
          <label class="H6-16-700-SpaceGrotesk"
            >{{'achievements_modal.lvl'+level|translate}}</label
          >
          <label class="H6-16-400-SpaceGrotesk"
            >{{'achievements_modal.arg'|translate}}</label
          >
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
