<ion-content [fullscreen]="true">
  <div style="height: 105%; position: relative">
    <capacitor-google-map #map></capacitor-google-map>
  </div>
<!--  <div class="w-full" style="position: absolute; top: 20px">-->
<!--        <div class="flex flex-col px-3 w-full items-center justify-center">-->
<!--          <div class="relative w-full margin-top-safe-area">-->
<!--            <input-->
<!--              class="w-full"-->
<!--              placeholder="Ubicación"-->
<!--              type="search"-->
<!--              style="border-radius: 100px; background: #fff; padding: 8px 16px"-->
<!--            />-->
<!--            <img-->
<!--              class="absolute"-->
<!--              src="assets/images/SoundCollect/Iconos/filter.svg"-->
<!--              style="top: 0; bottom: 0; margin: auto; right: 13px"-->
<!--            />-->
<!--          </div>-->
<!--          <div class="relative w-full">-->
<!--            <label-->
<!--              class="absolute H3-18-700-SpaceGrotesk my-text-header"-->
<!--              style="top: 9px; bottom: 0; margin: auto; right: 6px; z-index: 10"-->
<!--              >120db</label-->
<!--            >-->
<!--            <label-->
<!--              class="absolute H3-18-700-SpaceGrotesk my-text-header"-->
<!--              style="top: 9px; bottom: 0; margin: auto; left: 6px; z-index: 10"-->
<!--              >2db</label-->
<!--            >-->
<!--            <ion-range class="w-full"></ion-range>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="p-3 flex flex-col w-full h-full"></div>-->
<!--  </div>-->
</ion-content>
