<ion-header class="ion-no-border">
  <ion-toolbar
    color="ligth"
    class="ion-no-margin ion-no-padding ion-no-border bg-white"
  >
    <div class="flex justify-between items-center px-3">
      <ion-text class="ms-20 H2-22-700 self-start my-text-header">
        {{'profile.label.user_guide'|translate}}
      </ion-text>
      <img
        tappable="true"
        class=""
        [routerLink]="['/tabs/profile']"
        ngSrc="assets/images/SoundCollect/Iconos/close.svg"
        alt="back"
        width="24"
        height="24"
      />
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="flex flex-col px-3 justify-between" style="height: 100vh">
    <section class="flex gap-3 flex-col">
      <div class="p-4">
        <p class="H-16-400 my-text-header"></p>
      </div>
    </section>
  </div>
</ion-content>
