<ion-header class="ion-no-border">
  <ion-toolbar color="ligth" class="ion-no-margin ion-no-padding ion-no-border bg-white">
      <div class="flex justify-start items-center px-3">
        <img tappable="true" class="" [routerLink]="['/tabs/tab3']" src="assets/images/SoundCollect/Iconos/back.svg" alt="back" width="24">
        <ion-text class="ms-20 H2-22-700 self-start my-text-header">
          Guía de usuario
        </ion-text>
      </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="flex flex-col px-3 justify-between" style="height: 100vh">
    <section class="flex gap-3 flex-col">
      <div class="p-4">
        <p class="H-16-400 my-text-header">Lorem ipsum dolor sit amet consectetur. Lacus ullamcorper erat semper pulvinar nisi amet volutpat velit. Facilisis tellus gravida mi dictum tristique lacinia tempor facilisi urna. Habitant mauris libero erat purus enim ante. Odio urna rhoncus quisque viverra. Tristique vel non pharetra a et ut sed vulputate vel. Adipiscing amet tortor cursus posuere nunc. Ridiculus consectetur dui adipiscing neque purus in sed rutrum. Eu quam posuere molestie commodo urna eleifend vitae malesuada ac. Id commodo eu accumsan ac erat ipsum.</p>
      </div>
    </section>
  </div>
</ion-content>

