<div class="flex flex-col w-80 justify-center mx-auto" style="border-radius: 20px; border: 2px solid grey">
  <div class="flex" style="border-radius: 15px">
    <div class="w-40 flex justify-center align-middle" style="border-radius: 15px">
      <img ngSrc="assets/images/sonsCAT/Ilustraciones/Goal.svg" alt="" height="70" width="70"/>
    </div>
    <div class="w-60 p-3" style="border-radius: 15px">
      <label> {{'no_user_auth.text' | translate}} </label>
    </div>
  </div>
  <div class="w-100 flex justify-center p-3" style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; border-top: 2px solid grey" (click)="goToLogin()" tappable>
    <label class="H-16-700 my-text-red"> {{'no_user_auth.btn' | translate}} </label>
  </div>
</div>
