<ion-header>
  <ion-toolbar color="ligth" class="ion-no-margin ion-no-padding ion-no-border bg-white">
    <div class="p-3">
      <div class="flex items-center justify-between">
        <ion-text class="H2-22-700 self-start my-text-header">
          {{ "recovery_pass.label.title"|translate }}
        </ion-text>
        <img
          tappable="true"
          class="mt-1"
          (click)="goBack()"
          src="assets/images/sonsCAT/Iconos/close.svg"
          alt="back"
          width="24"
        />
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="flex items-center flex-col justify-between w-full h-full">
    <div class="d-flex flex-column p-3">
      <ion-text class="H6-14-700SpaceGrotesk">
        {{ "recovery_pass.label.email_sended"|translate }}
      </ion-text>
    </div>

    <div class="d-flex w-100 flex-column justify-content-between h-100">
      <div class="d-flex flex-column p-3">
        <ion-text class="H6-14-400SpaceGrotesk my-text-dark"
        >{{ "recovery_pass.label.sub_title3"|translate }}</ion-text
        >
      </div>
      <form [formGroup]="newFormGroup">
        <div class="mx-auto gap-5 mb-4 flex justify-between w-72">
          <ion-input
            class="text-center input ion-no-margin ion-no-padding"
            #code1
            clearOnEdit="true"
            enterkeyhint="next"
            autofocus="true"
            (ionInput)="setFocus(code2)"
            formControlName="code1"
            type="number"
            placeholder=""
            style="background: #f3f6f5; width: 66px; height: 55px"
          ></ion-input>
          <ion-input
            class="text-center input ion-no-margin ion-no-padding"
            #code2
            clearOnEdit="true"
            enterkeyhint="next"
            (ionInput)="setFocus(code3)"
            formControlName="code2"
            maxlength="1"
            type="number"
            placeholder=""
            style="background: #f3f6f5; width: 66px; height: 55px"
          ></ion-input>
          <ion-input
            class="text-center input ion-no-margin ion-no-padding"
            #code3
            clearOnEdit="true"
            enterkeyhint="next"
            (ionInput)="setFocus(code4)"
            formControlName="code3"
            type="number"
            placeholder=""
            style="background: #f3f6f5; width: 66px; height: 55px"
          ></ion-input>
          <ion-input
            class="text-center input ion-no-margin ion-no-padding"
            #code4
            clearOnEdit="true"
            enterkeyhint="next"
            (ionInput)="setFocus(field5)"
            formControlName="code4"
            type="number"
            placeholder=""
            style="background: #f3f6f5; width: 66px; height: 55px"
          ></ion-input>
        </div>

        <div class="ion-padding-horizontal mt-10">
          <div class="relative">
            <div class="w-80">
              <label class="H6-14-400-SpaceGrotesk my-text-header mb-5">{{'recovery_pass.label.label_new_password'|translate}}</label>

            </div>
            <input
              #field5
              class="input pe-5 ps-3"
              formControlName="password"
              placeholder="Nueva contraseña"
              [type]="myType[0]"
              name="password"
            />
            <img
              (click)="changeImage(0)"
              class="absolute"
              src="assets/images/sonsCAT/Iconos/{{myEye[0]}}.svg"
              alt="eye"
              style="right: 13px; top: 25px; bottom: 0; margin: auto"
            />
          </div>
          <div class="validation-msg-error" *ngIf="password?.invalid && (password?.dirty || password?.touched)">
            <div *ngIf="password?.errors.required">
              {{'register.error.password_required'|translate}}
            </div>
            <div *ngIf="password?.errors.minlength">
              {{'register.error.password_min_length'|translate}}
            </div>
            <div *ngIf="password?.errors.strong">
              {{'register.error.password_strong'|translate}}
            </div>
          </div>
          <div class="w-80 mt-4">
            <label class="H6-14-400-SpaceGrotesk my-text-header mb-5">{{'recovery_pass.label.label_new_password_verify'|translate}}</label>
          </div>
          <div class="relative">
            <input class="input pe-5 ps-3" formControlName="cpassword" placeholder="Repetir contraseña" [type]="myType[1]" name="cpassword"/>
            <img (click)="changeImage(1)" class="absolute" src="assets/images/sonsCAT/Iconos/{{myEye[1]}}.svg" alt="eye" style="right: 13px; top: 0; bottom: 0; margin: auto"/>
          </div>
          <div class="validation-msg-error mb-5" *ngIf="cpassword?.invalid && (cpassword?.dirty || cpassword?.touched)">
            <div *ngIf="cpassword?.errors.confirmPassword">
              {{'change_pass.error.password_no_match'|translate}}
            </div>
          </div>
        </div>
        <div class="p-3 flex flex-col mb-10 w-100 mt-5">
          <button class="my-btn-login" type="button" (click)="submit()" [disabled]="processing">
            <ion-text> {{ "recovery_pass.btn.btn-verify"|translate }}</ion-text>
          </button>
        </div>
      </form>
    </div>

    <div class="p-3 flex flex-col mb-64 w-100">
      <!-- <button class="my-btn-login" type="submit">
        <ion-text> {{ "recovery_pass.btn.btn-verify"|translate }}</ion-text>
      </button> -->

      <div class="flex flex-col p-3">
        <ion-text class="H6-14-400SpaceGrotesk my-text-dark mt-3"
        >{{'recovery_pass.label.expires_msg'|translate}}
          <b>{{'recovery_pass.label.hours_msg'|translate}}</b>
        </ion-text>
        <ion-text class="H6-14-400SpaceGrotesk my-text-dark mt-3">
          {{'recovery_pass.label.footer_msg'|translate}}
          <button
            class="bg-transparent my-text-red H6-14-400SpaceGrotesk"
            (click)="resendOtpEmail()"
          >
            {{'recovery_pass.label.try_again'|translate}}
          </button>
        </ion-text>
      </div>

    </div>
  </div>
</ion-content>
