<div class="w-full h-full flex flex-col justify-center items-center" style="background: var(--ion-color-primary);border-bottom-right-radius:20px;border-bottom-left-radius: 20px ">
  <div class="w-full flex flex-col justify-center items-center h-full" style="height: max-content">
    <div class="clock flex flex-col justify-center items-center" style="transform: scaleX(-1); background:conic-gradient(var(--ion-color-tertiary) {{radius}}%, transparent 0);">
      <ion-text color="secondary" class="m-0 p-0" style="line-height:1;transform: scaleX(-1);font-size: 128px;font-weight: 700">{{seg}}<samp class="" style="font-size: 42px;font-weight: 700">s</samp></ion-text>
      <ion-text color="secondary" class="H2-22-700" style="transform: scaleX(-1)">de descanso</ion-text>
      <ion-text class="H6-14-400-SpaceGrotesk text-center my-text-yellow"  style="transform: scaleX(-1)">{{'training.label.rest_message'|translate}}</ion-text>
    </div>
  </div>
</div>
